<app-filter></app-filter>
<app-input></app-input>
<app-summay></app-summay>
<br>
<table class="table detail-table">
    <thead class="table-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of entries">
      <tr>
        <td>{{i.dateTime | date}}</td>
        <td>{{i.description}}</td>
        <td>
          <span *ngIf="i.type" style="font-weight: bold; color: green;">{{i.amount}}</span>
          <span *ngIf="!i.type" style="font-weight: bold; color: red;">{{i.amount}}</span>
        </td>
        <td>{{i.balance}}</td>
      </tr>
    </tbody>
  </table>